.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background-color: rgb(186, 72, 110);
  margin-top: 2rem;
}

p {
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
}
