.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 100%;
  background-color: rgb(186, 72, 110);
  margin-top: 2rem;
}

p {
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .footer {
    position: fixed;
    bottom: 0;
  }

  p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 420px) {
  p {
    font-size: 0.8rem;
  }
}