.navBar {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  padding: 0 2.5rem;
  height: 4rem;
  width: 100%;
  background-color: rgb(186, 72, 110);
}

.menuNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.homeIcon,
.gearIcon,
.micIcon {
  color: white;
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
}

.micIcon {
  justify-self: flex-end;
  margin-right: 1rem;
}

@media screen and (max-width: 768px) {
  .navBar {
    padding: 0 1.5rem;
  }

  .homeIcon {
    width: 1.4rem;
    height: 1.4rem;
  }

  .gearIcon {
    width: 1.4rem;
    height: 1.4rem;
  }
}

@media screen and (max-width: 420px) {
  .navBar {
    padding: 0 0.5rem;
  }

  .micIcon {
    margin-right: 0.5rem;
  }
}
